@import "tailwindcss";
@import "primeicons/primeicons.css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #000000;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    overflow-x: hidden;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #1a1a1a;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 5px;
    border: 2px solid #1a1a1a;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #666;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #888;
  }

  ::-webkit-scrollbar-corner {
    background: #1a1a1a;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(232, 240, 254, 0.159) inset !important;
  -webkit-text-fill-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Vue Transitions */
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

/* Custom Animations */
@keyframes bounce {

  0%,
  to {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@layer components {
  .font-outline-2 {
    -webkit-text-stroke: 2px currentColor;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px currentColor;
  }

  .custom-container {
    @apply relative flex items-center justify-center w-full text-center max-w-xs mx-auto;
  }

  .animate-bounce {
    animation: bounce 1s infinite;
  }

  .animate-fade {
    animation: fade 1s both;
  }

  .animate-fade-up {
    animation: fade-up 1s both;
  }

  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .animate-spin {
    animation: spin 1s linear infinite;
  }
}

/* Custom Font Faces */
@font-face {
  font-display: swap;
  font-family: "Gilroy";
  src: url("./fonts/gilroy/Gilroy-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: gilroy-bold;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Bold"),
    url(./fonts/gilroy/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: gilroy-heavy;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Heavy"),
    url(./fonts/gilroy/Gilroy-Heavy.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: gilroy-light;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Light"),
    url(./fonts/gilroy/Gilroy-Light.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: gilroy-medium;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Medium"),
    url(./fonts/gilroy/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: gilroy-regular;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-Regular"),
    url(./fonts/gilroy/Gilroy-Regular.ttf) format("truetype");
}

@font-face {
  font-display: swap;
  font-family: gilroy-semibold;
  font-style: normal;
  font-weight: 400;
  src: local("Gilroy-SemiBold"),
    url(./fonts/gilroy/Gilroy-SemiBold.ttf) format("truetype");
}